{
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:import/recommended"],
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "globals": {
    "client": true,
    "uptime": true
  },
  "rules": {
    "curly": ["error", "multi-line", "consistent"],
    "no-unused-vars": ["error", { "args": "none" }],
    "prefer-const": ["warn", { "destructuring": "all" }],
    "no-constant-condition": ["error", { "checkLoops": false }],
    "import/extensions": ["error", "always", { "ts": "never" }],
    "no-template-curly-in-string": "error",
    "no-use-before-define": "error",
    "no-duplicate-case": "error",
    "no-throw-literal": "error",
    "no-self-compare": "error",
    "no-unreachable": "error",
    "sort-imports": "error",
    "no-console": "error",
    "sort-vars": "error",
    "no-empty": "error",
    "no-undef": "error"
  }
}
